@import 'tailwindcss';
/* 
body{
    background-color: #F2F2F2;
} */

.loader {
    width: 48px;
    height: 48px;
    background: #000;
    border-radius: 50%;
    position: relative;
    animation: skLinRotate 1s ease-in-out infinite alternate;
}

.loader:after {
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #ff3c00dd;
}

@keyframes skLinRotate {

    95%,
    100% {
        transform: rotate(840deg)
    }
}


.mini_loader {
    width: 18px;
    height: 18px;
    border-width: 3px;
    border-style: dashed solid solid dotted;
    border-color: #FFFFFF #FFFFFF transparent #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

/* .mini_loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: -3px;
    top: 11px;
    border: 10px solid transparent;
    border-right-color: #FFFFFF;
    transform: rotate(-40deg);
} */

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}